
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>

<section class="personal-presentation">
    <div class="container">
        <div class="left">
            <div class="top-left">
                <div class="top-left-left-picture">
                    <img src="{{ url_for('static', filename='Donald_MOUAFO-removebg.jpg') }}" alt="Profile Picture">
                </div>
                <div class="top-left-right-quote" aria-label="Nicolas Boileau">
                    <p class="quote">
                        Whatever is well conceived is clearly said,
                        and the words to say it flow with ease...
                    </p>
                    <p class="author">
                        — Nicolas Boileau
                    </p>
                </div>
            </div>
            <div class="bottom-left">  
                <p class="motivation"> 
                    Passionated of operational excellence and application innovation. 
                    I am an inconditional of MLOps and CD/CI ...
                </p>
                <p class="process">
                    Nicolas Boileau's quotation is my guideline for designing robust, automated and scalable solutions, 
                    while ensuring and reliable and security.
                </p> 
               <!-- <div class="cicd-icon">
                    <a href="https://blogs.nvidia.com/blog/what-is-mlops/" target="_blank">
                        <img class="fit-picture" src="../static/Remove_MLOps_CICD_bg.png"
                        href="https://www.atlassian.com/continuous-delivery/ci-vs-ci-vs-cd">
                    </a> 
                </div> -->
            </div>
        </div>
        <div class="right">
            <h1>{{ profile.name }}</h1>
            <h3>{{ profile.title }}</h3>
            <p>{{ profile.bio }}</p>
            <h4>Skills</h4>
            <div class="skills">
                {% for skill in profile.skills %}
                    <span>{{ skill }}</span>
                {% endfor %}
            </div>
            <h4>Social media</h4>
            <div class="socials">
                {% for social in profile.socials %}
                    {% for name, link in social.items() %}
                        <a href="{{ link }}" target="_blank">{{ name }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
            <h4>Contact</h4>
            <p>Email: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
            <p><a href="{{ url_for('projects') }}">View Projects</a> | <a href="{{ url_for('contact') }}">Contact Me</a></p>
        </div>
    </div>
</section>

